.infoTable{
    position: absolute;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #eeeeee;
    padding: 5px;
    text-align: center;
    font-size: 11px;
    margin-left: 380px;
    margin-top: 590px;
    width: 225px;
    height: 293px;
    display: none;
}