<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{content/detailContent/team2.detailLayout}" >

<th:block layout:fragment="content_css">
  <!-- html 파일이 열릴 때 같이 실행되는 css -->
  <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
  <!-- html 코드 작성 -->
  <div class="row">
    <!-- 좌측 라인 -->
    <div class="col-6">
      이미지
    </div>
    <!-- 우측 라인 -->
    <div class="col-6">
      <div class="row">
        <div class="col">
          
        </div>
      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="content_js">
  <!-- html 파일이 열릴 때 같이 실행되는 js -->
  <!-- <script src="/"></script> -->
</th:block>
</html>