<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title></title>
</head>

<body>
   <th:block th:fragment="sideFragment6">
      <div class="row">
         <div class="col">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                     <img src="/slide_test/slice1.jpg" width="477px" height="295px" class="d-block w-100 rounded"
                        alt="...">
                     <div class="text-center" style="background-color: white; position: absolute; margin-top: -100px; margin-left: 60px;">
                        <div style="width:350px">‼️전기 인명피해 사고 최대 발생 요일‼️</div>
                        <div style="width:350px">목요일(90명)</div>
                     </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                     <img src="/slide_test/slice2.jpg" width="477px" height="295px" class="d-block w-100 rounded"
                        alt="...">
                     <div class="text-center" style="background-color: white; position: absolute; margin-top: -100px; margin-left: 60px;">
                        <div style="width:350px">‼️전기 인명피해 사고 최대 발생 시간대‼️</div>
                        <div style="width:350px">14~16시(75건)</div>
                     </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                     <img src="/slide_test/slice3.jpg" width="477px" height="295px" class="d-block w-100 rounded"
                        alt="...">
                     <div class="text-center"  style="background-color: white; position: absolute; margin-top: -100px; margin-left: 60px;">
                        <div style="width:350px">‼️2016년 총전기 사고 건수‼️ </div>
                        <div style="width:350px">546건수</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </th:block>
</body>

</html>
