<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title></title>
</head>

<body>
<th:block th:fragment="sideFragment0">
   
   <div style="display: inline-block; position: absolute; top: 370px; left: 485px;">경상북도</div>
   <div style="display: inline-block; position: absolute; top: 452px; left: 460px;">대구광역시</div>
   <div style="display: inline-block; position: absolute; top: 544px; left: 521px;">부산광역시</div>
   <div style="display: inline-block; position: absolute; top: 495px; left: 542px;">울산광역시</div>
   <div style="display: inline-block; position: absolute; top: 519px; left: 443px;">경상남도</div>
   <div style="display: inline-block; position: absolute; top: 809px; left: 235px;">제주도</div>
   <div style="display: inline-block; position: absolute; top: 550px; left: 252px;">광주광역시</div>
   <div style="display: inline-block; position: absolute; top: 592px; left: 273px;">전라남도</div>
   <div style="display: inline-block; position: absolute; top: 466px; left: 296px;">전라북도</div>
   <div style="display: inline-block; position: absolute; top: 373px; left: 321px;">대전광역시</div>
   <div style="display: inline-block; position: absolute; top: 330px; left: 304px;">세종특별시</div>
   <div style="display: inline-block; position: absolute; top: 348px; left: 264px;">충청남도</div>
   <div style="display: inline-block; position: absolute; top: 298px; left: 366px;">충청북도</div>
   <div style="display: inline-block; position: absolute; top: 229px; left: 326px;">경기도</div>
   <div style="display: inline-block; position: absolute; top: 166px; left: 457px;">강원도</div>
   <div style="display: inline-block; position: absolute; top: 191px; left: 270px;">서울특별시</div>
   <div style="display: inline-block; position: absolute; top: 175px; left: 191px;">인천광역시</div>

</th:block>
</body>

</html>