<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title></title>
</head>

<body>
   <th:block th:fragment="sideFragment6">
      <div class="row">
         <div class="col">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="3000">
                     <img src="/upload/image1_Resize.jpg"  class="d-block w-100 rounded" style="height: 25vh;"
                        alt="...">
                     <div class="text-center" style="background-color: whitesmoke; position: absolute; margin-top: -80px; margin-left: 145px;">
                        <div  style="width:350px; font-size: 1.1em;">‼️전기 인명피해 사고 최다 발생 요일‼️</div>
                        <div  style="width:350px; font-size: 1.1em;">[[${maxDay}]] (평균 [[${maxDayData}]]명)</div>
                     </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                     <img src="/upload/image2_Resize.jpg"  class="d-block w-100 rounded" style="height: 25vh;"
                        alt="...">
                     <div class="text-center" style="background-color: whitesmoke; position: absolute; margin-top: -80px; margin-left: 145px;">
                        <div  style="width:350px; font-size: 1.1em;">‼️전기 인명피해 사고 최대 발생 시간대‼️</div>
                        <div  style="width:350px; font-size: 1.1em;">[[${maxTime}]] (평균 [[${maxTimeData}]] 건)</div>
                     </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                     <img src="/upload/image3_Resize.jpg"  class="d-block w-100 rounded" style="height: 25vh;"
                        alt="...">
                     <div class="text-center"  style="background-color: whitesmoke; position: absolute; margin-top: -80px; margin-left: 145px;">
                        <div  style="width:350px; font-size: 1.1em;">‼️2022년 총 전기 사고 건수‼️ </div>
                        <div  style="width:350px; font-size: 1.1em;">[[${totalAccData}]]건</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </th:block>
</body>

</html>
