<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title></title>
</head>

<body>
<th:block th:fragment="sideFragment6">
   <div class="col">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner" style="height: 200px; width: 400px;">
            <div class="carousel-item active" data-bs-interval="100">
                  <img src="/slide_test/브이햄쥐.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                  <img src="/slide_test/따봉햄쥐.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                  <img src="/slide_test/놀란햄쥐.jpg" class="d-block w-100" alt="...">
            </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
         </button>                                   
      </div>
   </div>
</th:block>
</body>

</html>
