<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content_css">
  <!-- html 파일이 열릴 때 같이 실행되는 css -->
  <link rel="stylesheet" href="/css/fragment/team2_range_side.css">
</th:block>

<th:block th:fragment="sideFragment7">

  <!-- html 코드 작성 -->
  <div class="row">
    <div class="col">

      <div class="row g-2">
        <div class="col">
          <div class="p-3">
            <div class="row text-center">
              <div class="col text-white fs-4" style="background-color: #313A46;">인명피해(사망)</div>
            </div>
            <div class="row text-center">
              <div class="col fs-1 pt-2" style="color: #FFBA00; background-color: #505c6d; height: 10vh;">
                [[${disaster.dead}]]
                <div class="fs-5">단위,명</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="row text-center">
              <div class="col text-white fs-4" style="background-color: #313A46;">인명피해(부상)</div>
            </div>
            <div class="row text-center">
              <div class="col fs-1 pt-2" style="color: #FFBA00; background-color: #505c6d; height: 10vh;">
                [[${disaster.ouch}]]
                <div class="fs-5">단위,명</div>
              </div>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <div class="row text-center">
              <div class="col text-white fs-3" style="background-color: #313A46;">재산피해</div>
            </div>
            <div class="row text-center">
              <div class="col fs-1 pt-2" style="color: #FFBA00; background-color: #505c6d; height: 10vh;">
                [[${#numbers.formatInteger(disaster.moneyDamage,3,'COMMA')}]]
                <div class="fs-6">단위,백만원</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</th:block>

</html>