<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content_css">
   <!-- html 파일이 열릴 때 같이 실행되는 css -->
   <link rel="stylesheet" href="/css/fragment/team2_range_side.css">
</th:block>

<th:block th:fragment="sideFragment5">

   <!-- html 코드 작성 -->
   <!-- 화상범위별 -->
   <div class="row justify-content-center">
      <div class="col">
         <div class="layer small-layer">
            <table>
               <thead>
                  <tr>
                     <th>연도</th>
                     <th>0-5</th>
                     <th>6-10</th>
                     <th>11-20</th>
                     <th>21-30</th>
                     <th>31-40</th>
                     <th>41-50</th>
                     <th>51-60</th>
                     <th>60 초과</th>
                  </tr>
               </thead>
               <tbody id="t-body">
                  
               </tbody>
            </table>
         </div>

      </div>
   </div>



</th:block>

</html>