<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title></title>
</head>

<body>
<th:block th:fragment="sideFragment0">

   <div class="row">
      <h1 style="display: inline-block; position: absolute; top: 18px; left: 450px; font-family: LeferiPoint-BlackA;" class="banselect">전기 화재</h1>
      <div class="col banselect" style="font-family: LeferiBaseType-RegularA;">
         <div class="sido" style="display: inline-block; position: absolute; top: 396px; left: 381px;">경상북도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 463px; left: 362px; font-size: 14px;">대구광역시</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 531px; left: 406px; font-size: 14px;">부산광역시</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 494px; left: 422px; font-size: 14px;">울산광역시</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 512px; left: 334px;">경상남도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 737px; left: 181px;">제주도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 537px; left: 201px; font-size: 14px;">광주광역시</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 575px; left: 196px;">전라남도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 474px; left: 229px;">전라북도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 402px; left: 250px; font-size: 14px;">대전광역시</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 376px; left: 240px; font-size: 14px;">세종특별시</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 352px; left: 187px;">충청남도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 320px; left: 297px;">충청북도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 282px; left: 244px;">경기도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 237px; left: 356px;">강원도</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 260px; left: 212px; font-size: 14px;">서울특별시</div>
         <div class="sido" style="display: inline-block; position: absolute; top: 233px; left: 134px; font-size: 14px;">인천광역시</div>
         <div class="infoTable"></div>
      </div>
   </div>
   


</th:block>

<script></script>
</body>

</html>