<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="electricAccidentsByDayMapper">



        <resultMap id="ElectricAccidentsByDayVO" type="com.green.Team2Project.electricAccidentsByDay.vo.ElectricAccidentsByDayVO">
                <id column="OCCURRED_YEAR" property="occurredYear" />
                <result column="SUNDAY" property="sunday" />
                <result column="MONDAY" property="monday" />
                <result column="TUESDAY" property="tuesday" />
                <result column="WEDNESDAY" property="wednesday" />
                <result column="THURSDAY" property="thursday" />
                <result column="FRIDAY" property="friday" />
                <result column="SATURDAY" property="saturday" />
        </resultMap>


        <select id="selectAccidentDay" resultMap="ElectricAccidentsByDayVO">
                SELECT
                        sum(SUNDAY) as sunday ,
                sum(MONDAY) as MONDAY ,
                sum(TUESDAY) as TUESDAY,
                sum(WEDNESDAY) as WEDNESDAY ,
                sum(THURSDAY) as THURSDAY ,
                sum(FRIDAY) as FRIDAY,
                sum(SATURDAY) as SATURDAY
                FROM
                        ELECTRIC_ACCIDENTS_BY_DAY
<!--                <if test='searchValue != null and !searchValue.equals("")'>-->
<!--                        WHERE OCCURRED_YEAR = #{searchValue}-->
<!--                        GROUP BY OCCURRED_YEAR-->
<!--                </if>-->
        </select>

        <select id="avgDay" resultType="map">
                SELECT
                round(SUM(sunday)/COUNT(occurred_year),1)AS SUNDAY ,
                round(SUM(monday)/COUNT(occurred_year),1)AS MONDAY ,
                round(SUM(tuesday)/COUNT(occurred_year),1)AS TUESDAY ,
                round(SUM(wednesday)/COUNT(occurred_year),1)AS WEDNESDAY ,
                round(SUM(thursday)/COUNT(occurred_year),1)AS THURSDAY ,
                round(SUM(friday)/COUNT(occurred_year),1)AS FRIDAY ,
                round(SUM(saturday)/COUNT(occurred_year),1)AS SATURDAY
                FROM
                electric_accidents_by_day;
        </select>

        <select id="avgDay2" resultType="map">
                SELECT
                round(SUM(sunday)/COUNT(occurred_year),1)AS '일요일' ,
                round(SUM(monday)/COUNT(occurred_year),1)AS '월요일' ,
                round(SUM(tuesday)/COUNT(occurred_year),1)AS '화요일' ,
                round(SUM(wednesday)/COUNT(occurred_year),1)AS '수요일' ,
                round(SUM(thursday)/COUNT(occurred_year),1)AS '목요일' ,
                round(SUM(friday)/COUNT(occurred_year),1)AS '금요일' ,
                round(SUM(saturday)/COUNT(occurred_year),1)AS '토요일'
                FROM
                electric_accidents_by_day;
        </select>

        <select id="allDay" resultMap="ElectricAccidentsByDayVO">
                select *
                from electric_accidents_by_day
        </select>

        <select id="selectDay" resultType="map">
                select *
                from electric_accidents_by_day
                where occurred_year = #{occurredYear}
        </select>
</mapper>































